    .bg-dark {
        background-color: #141414 !important;
    }
    
    body {
        background-color: #E5E5E5;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 1.5625rem;
        color: #686868;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        line-height: normal;
    }
    
    h1.title,
    h2.title,
    h3.title,
    h4.title {
        text-transform: uppercase;
    }
    
    h1.title:after,
    h2.title:after {
        margin-top: 5px;
        border: 6px solid #FF2033;
        width: 3.125rem;
        display: block;
        content: "";
    }
    
    .title-center {
        text-align: center;
    }
    
    .title-center:after {
        margin: auto;
        margin-top: 5px;
        border: 6px solid #FF2033;
        width: 3.125rem;
        display: block;
        content: "";
    }
    
    input,
    textarea,
    select,
    button {
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
        color: #686868;
    }
    /*navbar*/
    
    .fixed-top {
        z-index: 99999;
    }
    
    .navbar {
        padding: 0.5rem 20px;
    }
    
    @media (min-width: 1200px) {
        .navbar-brand {
            margin-left: 1.5rem;
        }
    }
    
    .dropdown-menu li a.dropdown-item {
        font-family: "Montserrat", sans-serif;
        color: #FFFFFF!important;
    }
    
    .dropdown-menu li a.dropdown-item:hover {
        color: #FF2033 !important;
        background-color: #141414!important;
    }
    
    #slidebar .nav-link {
        font-family: "Montserrat", sans-serif;
        color: #FFFFFF!important;
        font-size: 0.7rem;
    }
    
    #slidebar .nav-link:hover {
        font-family: "Montserrat", sans-serif;
        color: #FF2033!important;
        font-size: 0.7rem;
    }
    
    @media (min-width: 992px) {
        #slidebar .nav-link {
            font-size: 1rem;
        }
        #slidebar .nav-link:hover {
            font-size: 1rem;
        }
    }
    /*footer*/
    
    .footer {
        font-size: 0.7rem;
        color: #FFFFFF;
        padding-top: 6rem;
    }
    
    .footer h4 {
        font-weight: 600;
        font-size: 0.9rem;
        color: #FF2033;
    }
    
    .footer ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .footer a {
        color: #686868;
        ;
        text-decoration: none;
    }
    
    .footer a:hover {
        text-decoration: underline;
    }
    
    .footer .social a:hover {
        text-decoration: none;
    }
    
    .footer .social a:hover img {
        opacity: 0.75;
    }
    /*top-inner*/
    
    .top-inner {
        padding: 8.5rem 0;
    }
    
    .carousel-indicators li {
        width: 10px!important;
        height: 10px!important;
        border-radius: 50%;
        border: 2px solid #FF2033 !important;
        background: rgba(30, 30, 30, 0.3)!important;
    }
    /*main-banner*/
    
    #main-banner.carousel img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .carousel-caption {
        transform: translateY(-50%);
        bottom: initial;
        top: 50%;
    }
    
    #main-banner h1 {
        color: #FFFFFF;
        text-align: center;
    }
    
    #main-banner h1 small {
        font-weight: 300;
        display: block;
    }
    
    #main-banner .title:after,
    #warning h2.title:after {
        display: none;
    }
    
    #warning h2.title {
        margin-bottom: 0;
        font-weight: 700;
        color: #141414;
    }
    /*main-about*/
    
    .main-about .container-fluid {
        padding: 60px 50px;
    }
    
    .main-about .title {
        text-align: left;
    }
    
    .how-it-work,
    .environmental,
    .partners,
    .featured-product {
        padding: 60px 50px;
    }
    /*how-it-work*/
    
    .how-it-work {
        color: #141414;
    }
    
    .how-it-work .item {
        background: #FFFFFF;
        box-shadow: 0px 3px 20px rgba(184, 184, 184, 0.25);
        border-radius: 5px;
        padding: 56px 22px 47px;
        height: 100%;
        min-height: 240px;
    }
    
    .how-it-work .item i {
        font-size: 60px;
        margin-bottom: 1rem;
        color: #454545;
    }
    /*featured product*/
    
    .featured-product .title:after {
        border: 6px solid #FFFFFF;
    }
    
    .bx-wrapper {
        margin-bottom: 0;
        box-shadow: none;
        border: none;
        background: transparent;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager {
        bottom: 30px;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: rgba(30, 30, 30, 0.3);
        border: 2px solid #AAAAAA;
        width: 12px;
        height: 12px;
        margin: 0 10px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a.active,
    .bx-wrapper .bx-pager.bx-default-pager a:focus,
    .bx-wrapper .bx-pager.bx-default-pager a:hover {
        background: rgba(30, 30, 30, 0.3);
        border: 2px solid #FF2033;
    }
    
    .bx-wrapper .bx-controls-direction a {
        margin-top: -25px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .bx-wrapper .bx-prev {
        left: -4rem;
        background-position: 0 0;
        background-image: url("/images/product/prev.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .bx-wrapper .bx-next {
        right: -5rem !important;
        background-position: 0 0 !important;
        background-image: url("/images/product/next.png")!important;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    @media (min-width: 1200px) {
        .products .bx-wrapper {
            margin: 3rem auto;
        }
        .products .bx-wrapper .bx-viewport {
            box-sizing: content-box;
            padding: 1.25rem 1.25rem 0 0;
        }
    }
    
    .products .bxslider {
        display: flex;
        justify-content: center;
    }
    
    .products .bxslider li {
        width: 280px;
        margin-right: 32px;
    }
    
    @media (max-width: 1199.98px) {
        .products .bxslider {
            margin: 0 calc((100% - 280px)/2);
        }
    }
    
    @media (max-width: 1199.98px) and (max-width: 767.98px) {
        .products .bxslider {
            margin: 0 calc((100% - 250px)/2);
        }
        .products .bxslider li {
            margin-right: 16px;
        }
    }
    
    .products a.link {
        text-decoration: none;
        color: #454545;
    }
    
    .products a.link:hover {
        text-decoration: underline;
    }
    
    .products .card {
        background: #FFFFFF;
        border: none;
    }
    
    .products .card .card-img-top {
        width: 280px;
        height: 200px;
        object-fit: cover;
        border-radius: 0.3125rem 0.3125rem 0 0;
    }
    
    .products .card .card-body {
        padding: 1.375rem 1rem;
    }
    
    .products .card .card-body .card-title,
    .media .media-body a.card-title {
        font-weight: 600;
        font-size: 1.125rem;
        color: #2F2F2F!important;
    }
    
    .products .card .card-body .card-title span {
        line-height: 1rem;
        font-size: 0.9rem;
        color: #FF2033;
    }
    
    .products .card .card-body .card-text {
        text-align: left;
    }
    
    .products .card .card-body .btn {
        line-height: 1rem;
        font-size: 0.9rem;
        padding: 7px 0;
        width: 110px;
    }
    
    .environmental .item img {
        width: 100%;
        margin-bottom: 20px;
    }
    /*partners*/
    
    .partners img {
        margin: 18px 24px;
        display: inline-block;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .partners img {
        margin: 18px 24px;
        display: inline-block;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    /*news*/
    
    .article {
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 3px 20px rgba(184, 184, 184, 0.25);
        border-radius: 5px;
        padding: 30px;
    }
    
    .article .title a {
        color: #2F2F2F;
        text-decoration: none;
    }
    
    .article .title a:hover {
        color: #FF2033;
        text-decoration: none;
    }
    
    .article .meta {
        font-size: 0.8rem;
        color: #FF2033;
    }
    
    .card-header .btn-link {
        font-weight: 600;
        font-size: 0.9rem;
        color: #2F2F2F;
        text-decoration: none;
    }
    
    form label {
        font-weight: 700;
        color: #141414;
    }
    
    form input {
        margin-top: 7px;
    }
    
    form ::placeholder {
        font-size: 0.9rem
    }
    /*cart*/
    
    .card {
        box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
        margin-top: 80px;
    }
    
    .ui-product-color {
        display: inline-block;
        overflow: hidden;
        margin: .144em;
        width: .875rem;
        height: .875rem;
        border-radius: 10rem;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
        vertical-align: middle;
    }
    
    .cart-title {
        text-decoration: none;
        color: #141414!important;
        font-weight: 700;
    }
    
    .media-body a.cart-title:hover,
    .media-body a.cart-title:visited {
        color: #FF2033!important;
        text-decoration: none;
    }
    
    .cart-img {
        width: 40px!important;
    }
    
    @media (min-width: 768px) {
        .cart-img {
            width: 150px!important;
        }
    }
    
    @media (min-width: 1200px) {
        .cart-img {
            width: 250px!important;
        }
    }